/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

img {
  max-height: 300px;
}

article p img {
    margin-left: 0;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
    text-decoration: none;
}
